<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>오류 이유</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<nav id="navbar-example2" class="navbar bg-light px-3 mb-3" style="margin-top: 20px">
    <h1>예약 실패</h1>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
     data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
    <h4 id="scrollspyHeading1"><img src="static/img/1-square.svg"> 아이디 및 패스워드</h4>
    <p>아이디 및 패스워드를 확인해주세요.<br>잘못 입력했다면 예약이 정상적으로 실행되지 않습니다.</p>
    <h4 id="scrollspyHeading2"><img src="static/img/2-square.svg"> 예약 시간 오류</h4>
    <p>예약 시간을 정확히 입력하지 않았다면 예약에 실패합니다.<br>ex) 10:30<br>ex) 15:30<br>와 같이 정확하게 입력해야 합니다.<br>또 현재 버스 예약 홈페이지에 존재하지 않는 시간대일 경우도 예약이 정상적으로 진행되지 않습니다
    </p>
    <h4 id="scrollspyHeading3"><img src="static/img/3-square.svg"> 신청방법 미선택</h4>
    <p>일반 선택 / 예약 신청 버튼 중 하나를 눌러야<br> 정상적으로 실행됩니다.</p>
    <h4 id="scrollspyHeading4"><img src="static/img/4-square.svg"> 등교 좌석</h4>
    <p>등교 좌석은 1~40 중 하나의 숫자로 입력해야 합니다. <br>1보다 낮거나 40보다 높은 숫자를 입력할 시<br>예약이 정상적으로 실행되지 않습니다.</p>
    <br><br>
</div>
<div class="goback_div">
    <button class="btn btn-secondary" style="width: 100%" onclick="history.go(-1)">돌아가기</button>
</div>

</body>
</html>